
/*Side Bar*/
body{
	    font-family: lato;
}
/* .sidebar-brand {
    background: #9A1703;
} */
.navbar-nav li {
    cursor: pointer;
}
ul#accordionSidebar {
    background: #b01805;
}
button.btn.btn-primary {
    background: transparent;
    border: transparent;
}
i.fas.fa-search.fa-sm {
    color: red;
}
.text-red {
    color: #4e73df;
    font-weight: 500 !important;
}
.text-red1 {
    color:#1cc88a;
    font-weight: 500 !important;
}
.text-red2 {
    color: #36b9cc;
    font-weight: 500 !important;
}
.text-red3 {
    color: #f6c23e;
    font-weight: 500 !important;
}
.form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: none !important;
}

input.form-control {
    background: transparent !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:none !important;
}

/* End Side Bar*/
/*Table Css*/
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom:none;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td, 
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
#mytable tbody tr:nth-child(odd) {
    background: #80808014;
}

.icon-bx ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline;
    float: right;
}
.icon-bx ul li {
    font-size: 12px;
    display: inline-block;
    padding: 0px 5px;
}
.icon-bx ul li:nth-child(1) {
    color: #f6c23e;
}
.icon-bx ul li:nth-child(2) {
    color: #1cc88a;
}
.icon-bx ul li:nth-child(3) {
    color:#f00000;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    padding-right: 100px;
}
.action-bx ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.action-bx ul li {
    display: inline-block;
    padding: 0px 6px;
    font-size: 13px;
}
th.dlt.sorting:before {
    display: none !important;
}
th.dlt.sorting:after{
    display: none !important;
}
.card-header.py-3 {
    background: #fff;
}

.icon-bx.user-icon {
    top: 10px;
    right: 7px;
}
.text-black{
	color: #454f63 !important;
	font-weight: 700;
    display: inline-block;
}
.info-headding {
    position: relative;
    padding: 10px 20px;
}
span.line:after {
    content: '';
    height: 3px;
    background:#e74a3b;
    position: absolute;
    width: 33px;
    left: 20px;
    bottom: 4px;
}
label.title-fom {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 27px;
    margin: 0px;
    padding: 0px;
    color: #454f63;
}
input.fom-wd {
     width: 100%;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 32px;
    color: #000;
    padding: 0px 12px;
    text-transform: capitalize;
    font-size: 13px;
    border: 1px solid #d1d3e2;
}
input.fom-wd::placeholder {
    font-size: 11px;
    font-weight: 600;
    position: relative;
    top: -2px !important;
}
.form-box {
    background: #fff;
    max-width: 100% !important;
        margin-bottom: 20px;
}
.innr-bx {
    margin: 10px 0px;
}
a.form-btn {
    padding: 8px 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: capitalize;
}
a.form-btn:nth-child(odd) {
    background: #3F51B5;
}
a.form-btn:nth-child(even) {
    background: #b01805;
    margin-left: 9px;
}
.btn-bx {
    margin: 26px 0px;
}
footer.sticky-footer.bg-white {
    box-shadow: 0px -2px 10px -7px grey !important;
}
.fom-hit {
    height: 33px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
}
input.fom-date {
    width: 100%;
    border: none;
    border: 1px solid #d1d3e2;
    height: 34px;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}
.search-box {
		    top: 7px;
		    margin-top: 10px;
		    padding: 0px;
		    position: relative;
		}
		.search-box span {
		    position: absolute;
		    top: 8px;
		    left: 8px;
		    color: #bfbfbf;
		    font-size: 13px;
		}
		input.innr-inpt {
		    border: 1px solid #bfbfbf;
		    padding: 6px 30px;
		    border-radius: 35px;
		    font-size: inherit;
		    color: #bfbfbf;
		    font-weight: 500;
		    height: 35px;
		}
		input.innr-inpt::placeholder {
		    position: relative;
		    color: #bfbfbf
		}
		.page-item.active .page-link {
		    z-index: 1;
		    color: #fff;
		    background-color: #454f63;
		    border-color: #454f63;
		}
		.page-link:focus{
			box-shadow: none !important;
		}
		.page-link {
    color: #454f63 ;
}
a.page-link:hover {
    color: #454f63;
}
.dwn-btn{
	display:none !important;
}
.up-btn{
	display: block !important;
    color: #b01805;
}
.sidebar-brand-icon img {
    width: 43%;
}
.sidebar-brand-text.mx-3 img {
    width: 60%;
}
.sidebar-brand-icon {
    display: none;
}
.sidebar-toggled .sidebar-brand-icon {
    display: block !important;
}
.topbar .dropdown-list .dropdown-header {
    background-color: #454f63;
    border: 1px solid #454f63;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}
.btn-link:hover {
    color: #9a1703;
    text-decoration: underline;
}
.sidebar-toggled .nav-link .left-menu{
	display: none !important;
}
.toggled i {
    font-size: 1.45rem !important;
    margin-top: 15px;
}
.sp-c {
    position: relative;
    right: 10px;
}
input:focus.innr-inpt {
    outline: none;
}
.hdn{
    visibility: hidden;
}
.wrp-box{
    display: none;
}
.sort .dataTables_length, .dataTables_filter {
    display: none !important;
}
.srt #dataTable_filter{
    display: block !important;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    padding-right: 0px;
}
.btn {
    border-radius: 2px;
}
.form-control{
    border-radius: 2px;
}
.icon-bx ul li a {
    background: #36b9cc38;
    color: #36b9cc;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
}
.icon-bx ul li a:hover{
    background: #36b9cc;
    color: #fff;
    transition: 0.5s
}
.static-top {
    box-shadow: 0px -2px 18px -7px grey;
}
.clk i.fas.fa-plus {
    font-size: 12px;
    padding: 0px 4px;
}
.wrap-had {
    float: right;
}
.wrap-had a {
    padding: 7px 9px;
    color: #fff;
    border-radius: 4px;
    background: #4e73df;
    text-decoration: none;
}
.adduser {
   margin: 30px 0px;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}
.adduserr{
    margin-top: 20px;
}
.canl{
    display: none;
}
span.canl .fa-times {
    padding: 0px 4px;
    font-size: 12px;
}
.animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
}
@media (min-width: 320px) and (max-width: 480px) {
  .sidebar-brand-icon {
    display: block;
}

  
}
@media (min-width: 320px) and (max-width: 564px) {
  
 .search-box{
    display: none;
 }
  i.fas.fa-search.fa-sm {
    color: #858796;
}
.clk{
    display: block;
}
}
.icon-bx.pd {
    padding: 10px 20px;
     border-bottom: 1px solid #e3e6f0;
}
.innr-table thead tr th {
    text-transform: capitalize;
    font-weight: 600;
    font-family: sans-serif;
    text-align: left;
    color: #454f63;
   font-size: 12px;
}
.innr-table tbody tr td {
    font-size: 17px;
    font-weight: 100;
    text-transform: capitalize;
    position: relative;
    font-family: sans-serif;
    font-size: 14px;
}
.innr-table tfoot tr th {
    text-transform: capitalize;
    font-weight: 600;
    font-family: sans-serif;
    
    color: #454f63;
    font-size: 12px;
}
    table{
    width:100%;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
   
}
.action-bx ul li:last-child {
    color: red;
}
th:first-child.dlc.sorting_asc:before {
    display: none !important;
}
th:first-child.dlc.sorting_asc:after {
    display: none !important;
}
/*End Table Css*/

/*Drf Page Css*/
.drf-list-had h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #454f63 !important;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
.drf-list-had {
    padding: 1em 1em;
    background: #fff;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}
.drf-vi button.btn.btn-primary {
    background: #454f63;
    padding: 1px 12px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #454f63;
    text-transform: capitalize;
}
.modal-footer button.btn.btn-primary {
    background: #454f63;
    border-radius: 20px;
}
.drf-vi td {
    width: 300px;
}

.icon-bx.pd {
    padding: 10px 20px;
    border-bottom: 1px solid #e3e6f0;
    text-align: left;
}
.info-headding {
    position: relative;
    padding: 10px 20px;
    text-align: left;
}
label.title-fom {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 27px;
    margin: 0px;
    padding: 0px;
    color: #454f63;
    text-align: left;
}


/*End Drf Page Css*/

