span.nav-link {
    margin-left: 15%;
}
.nav-link.active {
    background: #8e1300;
}
.sidebar-dark #sidebarToggle {
   
    display: none;
}
.sidebar-brand-text.mx-3 img {
    
    margin-left: -15%;
}
.log-out img {
    width: 14px !important;
    margin-right: 3px;
}
.mySide {
    background: #8e1300;
    margin: 0 !important;
}
.log-out a {
    color: #9b2812 !important;
    text-transform: capitalize;
}
.action-bx ul li {
    cursor: pointer;
    margin-right: 10px;
}

.logoutc {
    margin: 0 25%;
}
.nav-item:hover .dropdown-menu {
    display: block !important;
}
/* .color-ch {
    background-color: #9b2812;
    border: none !important;
    margin-top: 10px !important;
} */
dropdown-menu {
    position: absolute;
    /* top: 100%; */
    left: 0;
    z-index: 1000;
width: 90px !important;
    display: none;
    float: left;
    width:80 !important;
    min-width: 8rem !important;
    padding: 0 0 !important; 
    margin: 0 0 0 !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-item {
    display: block;
    width: 59%;
    /* padding: .25rem 1.5rem; */
    /* clear: both; */
    margin: 9px 27px;
    /* margin-block-start: 9px; */
    font-weight: 600;
    
    font-size: 13px;
    /* white-space: nowrap; */
    background-color: #9b2812;
    /* border: 0; */
    border-radius: 20px;
    color: white;

}
button.btn.btn-primary {
    background: #454f63;
    padding: 4px 4px;
    font-size: 12px;
    margin-top: 8px;
    width: 74px;
    border-radius: 20px;
    border: 1px solid #454f63;
    text-transform: capitalize;
}
span.myside {
    padding-left: 40px;
}
.changeColors{
    margin: 0;
    background-color: #9b2812;
}
.navbar-nav .nav-item .nav-link.active {
    background-color: #8e1300 !important;
}



/* Add New Css */

.new-background-color{
    background: #26293b;
}
.sidebar-brand {
    background: #26293b;
}
ul#accordionSidebar {
    background: #26293b;
}
#wrapper #content-wrapper {
    background-color: #1e1e2f;
    width: 100%;
    overflow-x: hidden;
}
.bg-white {
    background-color: #26293b!important;
}
.border-bt {
    border-bottom: 1px solid #313452;
}
.topbar #sidebarToggleTop {
    display: block !important;
    color: #fff;
}
.sidebar-brand-text img {
    width: 150px !important;
    margin: 0px !important;
}
.log-out a {
    color: #f06826 !important;
    text-transform: capitalize;
}
.navbar-nav .nav-item .nav-link.active {
    background-color: #f06826 !important;
}
.bck-clr li a {
    text-transform: capitalize;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 600;
    vertical-align: middle;
}
.bck-clr li a img {
    width: 14px;
    vertical-align: bottom;
    margin-right: 5px;
}
.log-out img {
    width: 18px !important;
    margin-right: 3px;
}
/* Notification Bar*/
ul.navbar-nav li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-flx-noti {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: transparent;
    color: #000;
}
a.dropdown-item.text-center.small.text-gray-500.nav-flx-noti {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: #ff6a07;
    color: #fff !important;
}
.notification-bar .btn-group button img {
width: 2rem;
}
.notification-bar .btn-group .dropdown-menu {
width: 20rem!important;
padding: 0px;
border:0px;
}
.hadding {
display: flex;
background: #ff6a07;
padding: 10px 18px;
justify-content: space-between;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.hadding h2 {
font-size: 12px;
margin: 0px;
color: #fff;
line-height: 20px;
text-transform: capitalize;
}
.notification-bar span {
    font-size: 12px !important;
    text-align: justify;
    white-space: pre-wrap;
    text-transform: capitalize;
    font-weight: 500!important;
}
.dropdown-item:last-child {
border-bottom: none;
font-size: 11px;
text-transform: capitalize;
margin-top: -5px;
padding: 13px 0px 8px 0px;
}
.dropdown-item {

border-bottom: 1px solid #e2dcdc;
}
/* End Notification Bar*/
/* End Css */